* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: #00ffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  width: 90vmin;
  height: 90vmin;

  display: grid;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(25, 1fr);
  background-color: black;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.head {
  background-color: rgb(14, 231, 58);
  width: 20px;
  height: 20px;
  margin: 0;
}
.food {
  background-color: rgb(226, 6, 2);
  width: 20px;
  height: 20px;
}
